@import '../style/fonts.css';

*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    overflow: hidden;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

.loading-bar
{
    position: absolute;
    top: 50%;
    width: 100%;
    height: 2px;
    background: #ffffff;
    transform: scaleX(0);
    transform-origin: top left;
    transition: transform 0.5s;
}

.loading-bar.ended
{
    transform-origin: 100% 0;
    transition: transform 1.5s ease-in-out;
}

/* .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    cursor: pointer;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  } */

/* .openbtn {
    font-size: 30px;
    cursor: pointer;
    position: absolute;
    left: 84px;
} */

.lil-gui .lil-gui .controller {
	border-left: 3px solid #2FA1D6;
}

.lil-gui .controller.boolean {
    border-left: 3px solid #806787;
}

.lil-gui .controller.number .fill {
    background: #2FA1D6;
    max-width: 100%;
}

.point
{
    position: absolute;
    top: 50%;
    left: 50%;
}

.point:hover .text
{
    opacity: 1;
}

.point.visible .label
{
    transform: scale(1, 1);
}

.point .label
{
    position: absolute;
    top: -20px;
    left: -20px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #00000077;
    border: 1px solid #ffffff77;
    color: #ffffff;
    cursor: pointer;
    transform: scale(0, 0);
    transition: transform 0.3s;
}

.point .text
{
    position: absolute;
    top: 10px;
    left: -120px;
    width: 200px;
    padding: 12px;
    border-radius: 10px;
    background: #00000077;
    border: 1px solid #ffffff77;
    color: #ffffff;
    font-family: 'MoscowSans', sans-serif;
    font-size: 18px;
    font-weight: 100;
    opacity: 0;
    transition: opacity 0.3s;
    pointer-events: none;
}


.model_wrapper {
    position: absolute;
    width: 70px;
    height: 34px;
    right: 20px;
    top: 30px;
    border-radius: 4px;
    background-color: transparent;
}

.model_wrapper .google_viewer {
    width: 100%;
    height: 100%;
    border-radius: 4px;
    background-color: transparent;
}

#ar-button {
    /* box-sizing: border-box; */
    width: 100%;
    height: 100%;
    /* padding: 0 !important; */
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
}

.pulse_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    width: 68px;
    height: 32px;
    border-radius: 4px;
    border: 1px solid white;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.pulse_media {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pulse_media .pulse_img:first-child {
    margin-right: 4px;
}

.pulse {
    position: absolute;
    text-align: center;
    border-radius: 8px;
    background-color: white;
    width: 88px;
    height: 42px;
    animation: move 1.5s linear infinite;
}

@keyframes move {
    50%, 100% {
        opacity: 0;
        transform: translate(200px, 0);
    }
    0% {
        transform: scale(0.5);
        opacity: 0;
    }
    20% {
        opacity: 0.5;
    }
    40% {
        transform: scale(1.2);
        opacity: 0;
    }
}