*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    overflow: hidden;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

.lil-gui .lil-gui .controller {
	border-left: 3px solid #2FA1D6;
}

.lil-gui .controller.boolean {
    border-left: 3px solid #806787;
}

.lil-gui .controller.number .fill {
    background: #2FA1D6;
    max-width: 100%;
}
